/*CENG311 Activity 2 css file*/

/*styling for the table goes here*/
body 
{
	width: 750px;
	margin: 0 auto;
}

caption{
    font-size: 200%;
    font-weight: bolder;
    margin: 2%;
}

#captions{
    vertical-align: top;
    border: 1px solid black;
    font-weight: bold;
    background-color: white;

}
.lastRow{
    border: 1px solid black;
    font-weight: bold;
    text-align: right;
}

.right{
    text-align: right;

}

table 
{
	border-collapse: collapse;
	border: 1px solid black;
	margin: 20px;
}

thead 
{
	background-color: yellow;
}

th, td 
{
	border: 1px solid black;
	padding: .2em 1em .2em .5em;
	text-align: left;
	vertical-align: middle;
}




tbody tr:nth-child(even) td
{
	background-color: yellow;
}
