/*
Student : Abdulkadir Emre ELP
Lecturer : Fadi YILMAZ
Lesson : CENG311

*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*Home Page general template*/
#title {
    text-align: center;
    background-color: rgb(10, 100, 180);
    font-size: 30px;
    font-family: 'Times New Roman', Times, serif;

}

.navigationbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 3rem;
    background: rgb(1, 1, 150);
    color: #fff;
}

.navigationbar img {
    width: 70px;
    float: left;
}

.navigationbar-logo a {
    text-decoration: none;
    color: #fff;
}

/*motto*/
.navigationbar h4 {
    font-size: 15px;
    margin-right: 60%;
    color: steelblue;
    text-align: center;
    text-transform: capitalize;
}

.navigationbar ul {
    display: flex;
    list-style: none;
}

.navigationbar li a {
    color: white;
    text-decoration: none;
    font-weight: bolder;
    margin-left: 10px;
    cursor: pointer;
    transition: .5s;
    padding: 10px;
    border-radius: 30px;

}

.navigationbar li a:hover {
    background: black;
}

/*Main Part*/

.content {
    background: linear-gradient(#ffffff,#008ff8de);
}

/*Main Image*/
.content h1 img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;

}
/*To locate picture left and right*/
.content h2 img {
    width: 35%;
    padding-bottom: 3%;
    padding-left: 5%;
    padding-right: 5%;
}

.leftSide {
    float: left;
    padding: 0 0 10px 10px;
}

.rightSide {
    float: right;
    padding: 0 0 10px 10px;
}

.content p {
    padding: 3%;
    font-size: larger;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif, Times, serif;
    
}

/*To see contact information for pages*/
.footer {
    width: 100%;
    background-color: darkblue;
    font-size: large;
    text-align: center;
    text-transform: uppercase;
}
.footer li{
    list-style: none;
}

.social{
    width: 100%;
    height: 10%;
    background-color: rgb(1, 1, 75);
    display: block;
}
.social a {
    width: 33%;
    padding: 1%;
    font-size: large;
    float: left;

}
.social a :hover{
    background-color: rgb(255, 0, 0);

}
.social a img{
    width: 15%;
    border-radius: 30%;

}
.footnav{
    background-color: rgb(1, 1, 150);


}

.footnav li{
    width: 20%;
    float: left;
    vertical-align: top;
    margin: 0%;
    padding: 2%;

}


.footerCopyright{
    text-size-adjust: 20px;
    text-align: center;
    margin: 2%;
    padding: 5%;
    padding-top: 15%;
    background-color: rgb(1, 1, 80);
}
/*
  This part  for contact page
*/
form{
    margin: 2%;
}

.content-buttons{
    margin: 2%;
    display: flex;
    justify-content: center;
    align-items: center;

}

/*contact button*/
form table tr td button{
    width: 25%;
    border-radius: 10%;
    font-family: 'Times New Roman', Times, serif;
    font-size: 18px;
    background-color: coral;
    float: right;
}

form table tr td button:hover{
    background-color:chocolate;
}

#CommentButton{
    background-color: coral;
    margin: 5%;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 32px;
    border-radius: 4%;
    border: none;;

}
#CommentButton:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

#JoinUsButton{
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 32px;
    border-radius: 4%;
}
#JoinUsButton:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

#contactTable{
    margin: 2%;
    margin: auto;
    justify-content: center;
    background-color: blue;
    width: 50%;
}
#memberTable{

    margin: 2%;
    margin: auto;
    justify-content: center;
    background-color: blue;
    width: 50%;

}

form table tr td{
    border: none;
}

form table tr td label{
    font-size: large;
    width: 20%;
    vertical-align: top;
    margin: 2%;
    padding: 5px;
    box-sizing: border-box;
}

form table tr td input[type="text"]{
    width: 100%;
    align-items: center;
    margin: 2%;
    padding: 5px;
    box-sizing: border-box;
    border-radius: 3%;
    display: inline-block;
    background-color: turquoise;
}
form table tr td input[type="text"]:focus{
    background:blue;
    transition: background 1s linear 0s;
}

form table tr td input[type="email"]{
    width: 100%;
    align-items: center;
    margin: 2%;
    padding: 5px;
    box-sizing: border-box;
    border-radius: 3%;
    display: inline-block;
    background-color: turquoise;
}
form table tr td input[type="email"]:focus{
    background:blue;
    transition: background 1s linear 0s;
}


form table tr td textarea{
    background-color: turquoise;
    width: 101.5%;
    border-radius: 3%;
}

form table tr td textarea:focus{
    background: blue 5px;
    transition: background 1s linear 0s;
}

form table tr td input:invalid{
    outline:solid red 3px;
}

form table tr td input:valid{
    outline:solid green 3px;
}

form table tr td textarea:invalid{
    outline:solid red 3px;
}

form table tr td textarea:valid{
    outline:solid green 3px;
}




/*This part for Activities and Members pages*/
.content table{
    width: 100%;
	border-collapse: collapse;
	border: 1px solid black;
	margin: 20px;

}

.content th, td 
{
	border: 1px solid black;
	padding: .2em 1em .2em .5em;
	text-align: center;
	vertical-align: middle;
}

.content img{
    width: 160px;
}

.column {
    float: left;
    width: 33.3%;
    margin-bottom: 16px;
    padding: 0 8px;
  }
  
  @media screen and (max-width: 650px) {
    .column {
      width: 100%;
      display: block;
    }
  }
  
  .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  }
  
  .container {
    padding: 0 16px;
  }
  
  /* Clear floats */
  .container::after, .row::after {
    content: "";
    clear: both;
    display: table;
  }
  
  .title {
    color: grey;
  }
  
  .button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
  }
  
  .button:hover {
    background-color: #555;
  }