
#page{
    width: 100%;
    height: 100%;
    text-align: center;
    position: relative;
    border-color: black;
    border-radius: 2%;
    border-style: dashed;
    border-width: 1%;
    background-color: aqua;




}

#banner{
text-align: center;
background-color: chartreuse;
margin: 5%;
border-style: solid
}

#mainMenuButton{
    

}

li{

    border: 1px solid;
    display: inline-block;
    padding: 1%;
    margin: 1%;

}

#content{
    background-color: black;
}